*
!README.md
!desktop.png
!.gitignore
!ghostty/
!ghostty/**
!sway/
!sway/**
!waybar/
!waybar/**
!mako/
!mako/**
!fish/
!fish/config.fish
!hypr/
!hypr/hyprland.conf

!systemd/
!systemd/user/
!systemd/user/delete-downloads.service
!systemd/user/delete-downloads.path