* {
    font-family: 'FiraCode Nerd Font', 'Fira Code', 'Fira Sans';
    font-size: 16px;
    font-weight: 600;
}

/* Use Fira Sans for text labels */
#clock {
    font-family: 'Fira Sans';
}

#custom-playerctl-spotify {
    font-family: 'Fira Sans';
}

window#waybar {
    background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: #212121;
    border-radius: 10px;
    padding: 4px;
}

.modules-left {
    padding: 4px 0;
}

button {
}

.module {
    min-height: 32px;
    padding: 0 10px;
    color: white;
    border-radius: 6px;
    margin: 0 1px;
}
.module:hover {
    background-color: #595450;
}

/* Workspace */
#workspaces {
    background-color: transparent;
}
#workspaces button {
    padding: 0 10px;
    min-height: 32px;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    margin: 0 1px;
    box-shadow: none;
}
#workspaces button.active {
    color: white;
}
#workspaces button.urgent {
    background-color: #f7768e;
    color: #1a1b26;
}
#workspaces button:hover {
    background-color: #595450;
    color: white;
    box-shadow: none;
    border: none;
}
#workspaces button.active:hover {
    color: #1a1b26;
}
/* Network */
#network.wifi {
    color: #84cc16;
}
#network.disconnected {
    color: #f7768e;
}

/* Battery */
#battery.plugged {
    color: #7dcfff;
}
#battery.charging {
    color: #9ece6a;
}
#battery.warning {
    color: #e0af68
}
#battery.critical {
    color: #f7768e;
}

/* Bluetooth */
#bluetooth.connected {
    color: #3b82f6;
}

/* Wireplumber */
#wireplumber.muted {
    color: #f7768e;
}

/* CUSTOM */


#image {
    padding: 0;
}