* {
    font-family: 'FiraCode Nerd Font', 'Fira Code', 'Fira Sans';
    font-size: 16px;
    font-weight: 600;
}

/* Use Fira Sans for text labels */
#clock {
    font-family: 'Fira Sans';
}

#custom-playerctl-spotify {
    font-family: 'Fira Sans';
}

window#waybar {
    background-color: #212121;
}

button {
}

.module {
    padding: 0 10px;
    color: white;
}
.module:hover {
    background-color: #595450;
}

/* Workspace */
#workspaces {
    background-color: transparent;
}
#workspaces button {
    padding: 0 5px;
    min-width: 30px;
    min-height: 30px;
    background-color: transparent;
    border: none;
}
#workspaces button.active {
    color: white;
}
#workspaces button.urgent {
    background-color: #f7768e;
    color: #1a1b26;
}
#workspaces button:hover {
    color: white;
}
#workspaces button.active:hover {
    color: #1a1b26;
}
/* Network */
#network.disconnected {
    color: #f7768e;
}

/* Battery */
#battery.plugged {
    color: #7dcfff;
}
#battery.charging {
    color: #9ece6a;
}
#battery.warning {
    color: #e0af68
}
#battery.critical {
    color: #f7768e;
}

/* Wireplumber */
#wireplumber.muted {
    color: #f7768e;
}

/* CUSTOM */

/* Spacer */
#custom-spacer {
    padding: 0 5px;
}
#custom-spacer:hover {
    background-color: #414868;
}

#image {
    padding: 0;
}